#my{
         text-align: center;
         background: blue;
         width: 200px;
         border-radius: 15px;
  }
  
  #artigo1{

  background: blue;
    width: 200px;
    border-radius: 15px;
   font size: 100px;
         
         
         
  }