#my{
         text-align: center;
         background: green;
         width: 200px;
         border-radius: 15px;
  }
  
  #artigo1{

  background: pink;
    width: 200px;
    border-radius: 15px;
   font size: 100px;
         
         
         
  }